body{
  margin: 0;
  padding: 0;
  font-weight: normal;
  width: 100%;
}
header{
  margin: 0;
  padding: 0;
}

#logo{
  position: absolute;
  top: 0;
  left: 50px;
  height: 50px;
  z-index: 100;
}
#logo_hidden{
  display: none;
}

#menu{
  list-style: none;
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 100;
}

#menu{
 text-decoration: none;
}

#menu li{
  display: inline-block;
  padding: 15px;
}

#menu a{
  color: #fff;
  text-decoration: none;
}
.menu_hidden{
  position: absolute;
  z-index: 91;
  /* text-align: center; */
  width: 100%;
  display: none;
}
.menu_hidden h3{
  background-color: #000;
  text-align: left;
  opacity: 0.8;
  /* width: 100%; */
  margin: 0;
  border-bottom: solid #fff 0.5px;
  padding: 10px;
  padding-left: 50px;
  overflow: hidden;
}

.menu_hidden a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.in_menu{
  background: #fff;
  width: 100%;
  height: 36px;
}
.in_menu h2{
  background: #fff;
  margin: 0;
  display: inline-block;
}
#text_menu{
  padding-left: 30px;
  float: left;
  color: #ccc;
}
#menu_ber{
  padding-right: 30px;
  float: right;
  color: #ccc;
}

.home{
  height: 550px;
  overflow: hidden;
}

.homeimg{
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.homeimg img{
  /* position: absolute; */
  top: 0;
  /* width: 100%; */
  min-width: 1400px;
  /* overflow: hidden; */
  margin-bottom: -30px;
  padding-bottom: 0;
  height: 550px;
  z-index: 80;
}

#logo_hidden{
  position: absolute;
  height: 550px;
  display: none;
  top: 0;
}

@media screen and (max-width:830px) {
  #logo{
    display: none;
  }
  #menu{
    display:none;
  }
  #logo_hidden{
    display: block;
    width: 100%;
    height: 550px;
    /* text-align: center; */
    vertical-align: middle;
  }
  #logo_hidden h2{
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    padding-top: 200px;

  }
  #logo_hidden img{
    position:absolute;
    height: 150px;
    width: 150px;
    z-index: 90;
    margin-left: auto;
    margin-right: auto;
  }
  .menu_hidden{
    display: block;
  }
}

.go{
  text-align: center;
  background-color: #eee;
  padding: 0;
  padding-bottom: 20px;
  /* padding-top: 550px; */
}

.go h1{
  font-size: 40px;
 font-weight:lighter;
 margin-top:  0;
 padding-top: 70px;
}

.text1{
  width: 370px;
  margin-left: auto;
  margin-right: auto;
 font-weight: lighter;
}

.text1 h3{
  text-align: left;
  font-size: 20px;
  font-weight:lighter;

}

.go h2{
  font-size: 30px;
  font-weight: lighter;
}

.product{
 vertical-align: top;
 padding: 20px;
}

.product img{
  height: 300px;
  vertical-align: top;
}

.product h2{
  padding-left: 150px;
  display: inline-block;
  margin-left: auto;
}

.more{
  margin-right: 150px;
  float: right;
  padding: 0px;
  border: solid 1px #000;
  vertical-align: middle;
  margin-top: 10px;
}

.more:hover{
  background: #000;
  color: #fff;
}

.more h5{
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  vertical-align: middle;
  float: left;
  color: #000;
}
.more h5:hover{
  color: #fff;
}

.more a{
  text-decoration: none;
}

.more p{

  float: right;
  padding-right: 5px;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 0;
}

.first_para{
  text-align: center;
}

.first_para a{
  display: inline-block;
  margin: 15px 20px;
  vertical-align: top;
  text-decoration: none;
  color: #000;
}

.second_para{
  text-align: center;
}

.second_para a{
  display: inline-block;
  margin: 15px 20px;
  vertical-align: top;
  text-decoration: none;color: #000;
}

.product h4{
  text-align: left;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.news{
  background-color: #eee;
  padding-top: 30px;

}

.news h2{
  padding-left: 150px;
  display: inline-block;
  margin-left: auto;
}

.claster{
  /* max-width: 600px; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.new{
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.new img{
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.right_text{
  display: inline-block;
  /* 変更したところ */
  max-width: 100px;
  padding-left: 20px;
}

.right_text h2{
  padding-left: 0px;
  padding-bottom: 10px;
  text-align: left;
  padding-top: 0;
  margin: 0;
}

.right_text p{
  text-align: left;
}

.connect{
  text-align: center;
  padding-bottom: 15px;
}

#to_top{
  margin-top: -30px;
  margin-bottom: 10px;
}
#to_top h3:hover{
  margin-top: -40px;
  margin-bottom: 20px;
}

#to_top h3{
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;

}

.connect a{
  display: inline-block;
  margin: 10px 20px;
  text-decoration: none;
}

.connect h5{
  margin: 8px 10px;
}

#lef{
  border: solid 0.5px #bbccff;
  color: #bbccff;
}

#lef:hover{
  background-color: #bbccff;
  color: #fff;
}

#cen {
  border: solid 0.5px #ccddff;
  color: #ccddff;
}

#cen:hover{
  background-color: #ccddff;
  color: #fff;
}

#ri {
  border: solid 0.5px #bbf0ff;
  color: #bbf0ff;
}

#ri:hover{
  background-color: #bbf0ff;
  color: #fff;
}

.menu_holder{
  background: #aaa;
  text-align: center;
  padding:0px 0;
}

.menu2{
  list-style: none;
}

.menu2{
 text-decoration: none;
}

.menu2 {
  margin: 0;
}

.menu2 li{
  display: inline-block;
  padding: 15px;
}

.menu2 a{
  color: #fff;
  text-decoration: none;
  font-size: 10px;
}

footer{
  background-color: #777;
  text-align: center;
  padding: 20px;

}
.lo{
  width: 100px;
  display: inline-block;
}

#logon {
  margin-top: auto;
  margin-bottom: auto;
  width: 100px;
  display: inline-block;
}

.copyright{
  display: inline-block;
  width: 100px;
  padding-left: 40px;
  margin: 0;
  color: #fff;
  font-size: 8px;
}

.copyright p{
}
